.darkTheme {
  background-color: $primaryColorDarkTheme;
  color: $textColorDarkTheme;
  button {
    background-color: $primaryColorDarkTheme;
    border-color: $secondaryColorDarkTheme;
    color: $textColorDarkTheme;
  }
  header {
    background-color: $primaryColorDarkTheme;
    border-top-color: black;
    .title {
      background-color: lighten($primaryColorDarkTheme, 5%);
      color: lighten($secondaryColorDarkTheme, 5%);
    }
  }
  .content {
    > button {
      &:hover {
        background-color: lighten($primaryColorDarkTheme, 15);
      }
    }
    #output {
      background-color: lighten($primaryColorDarkTheme, 10);
    }
  }
  .darkThemeButton {
    background-color: $secondaryColorDarkTheme;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}
