.darkTheme {
  background-color: $primaryColorDarkTheme;
  color: $textColorDarkTheme;
  header {
    background-color: $primaryColorDarkTheme;
    border-top-color: lighten($secondaryColorDarkTheme, 50);
    .title {
      background-color: lighten($primaryColorDarkTheme, 5%);
    }
  }
  .content {
    > button {
      &:hover {
        background-color: lighten($primaryColorDarkTheme, 15);
      }
    }
    #output {
      background-color: $secondaryColorDarkTheme;
    }
  }
  button {
    background-color: lighten($primaryColorDarkTheme, 15);
    border-color: $secondaryColorDarkTheme;
    color: $textColorDarkTheme;
  }
}
