.content {
  > button {
    display: block;
    font-size: 1.2em;
    height: 1.8em;
    margin: 1em 0.5em 1em 1.5em;
    &:hover {
      background-color: darken($primaryColor, 15);
    }
  }
}

.content > .input {
  display: inline-block;
  padding: 0.6em;
}
