@import "variables";
$name: header;

header {
  background-color: $primaryColor;
  border-top: 6px solid darken($secondaryColor, 50);
  height: 60px;
  margin: 0px 0px 1.2em 0px;
  .title {
    background-color: darken($primaryColor, 12%);
    border-bottom-right-radius: 60%;
    color: darken($secondaryColor, 8%);
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    line-height: 60px;
    margin-right: 0.3em;
    width: 3em;
    text-align: center;
  }

  .details {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.6em;
    vertical-align: bottom;
  }
}

header > * {
  display: inline-block;
}
