$debug: false;

a {
  color: inherit;
  text-decoration: none;
}

@if $debug {
  * {
    border: 2px solid green !important;
    padding: 3px !important;
  }
}

body {
  background-color: $primaryColor;
  color: white;
  font-family: sans-serif;
}
