$mainColor: #282828;
$debug: false;

@if $debug {
  * {
    border: 2px solid green !important;
    padding: 3px !important;
  }
}

body {
  background-color: $mainColor;
  color: white;
  font-family: sans-serif;
}
